<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates...</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        I am Web development student and very curious to learn more about it
      </p>
      <p>
        Description arriving soon..
      </p>
      <!-- Rest of the content -->
    </article>
  </section>
</div>